
<h1 class="page-header text-center text-uppercase">New Review</h1>

<%= render 'form', review: @review %>

<div style="height: 50px"></div>

<div class="col-md-offset-6">
  <%= link_to 'Back', reviews_path,class: "btn btn-danger" %>
</div>
